<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Create Account</title>
</head>
<body class="w3-light-grey">


	<div class="w3-center w3-white w3-margin-top" style="border: 1px solid #000000; disply: block">
		<h1>Erstellen Sie einen Benutzer Konto</h1>

		<p style="color: red;" th:text="${validInput}"></p>


		<form action="#" th:action="@{/createAccount}" method="post"
			th:object="${user}">

			<p>Wählen Sie einen Username ein</p>
			<p>
				<input type="text" id="username" name="username"
					placeholder="Username">
			</p>
			<p>Wählen Sie ein Password</p>
			<p>
				<input type="password" id="password" name="password"
					placeholder="Password">
			</p>
			<p>Geben Sie ihren Vorname ein</p>
			<p>
				<input type="text" id="firstname" name="firstname"
					placeholder="Firstname">
			</p>
			<p>Geben Sie ihren Nachnamen ein</p>
			<p>
				<input type="text" id="lastname" name="lastname"
					placeholder="Lastname">
			</p>
			
			<p>Geben Sie Ihre Email Addresse an</p>
			<p>
				<input type="text" id="email" name="email"
					placeholder="Email">
			</p>
			
			
			<p>Geben Sie ihren Alter ein</p>
			<p>
				<input type="text" id="age" name="age" placeholder="Age">
			</p>
			<p>Geben Sie ihren Wohnort ein</p>
			<p>
				<input type="text" id="wohnort" name="wohnort" placeholder="Wohnort">
			</p>

			<p>
				<button type="submit">Create Account</button>
			</p>

		</form>
		<form action="#" th:action="@{/index}" method="get">
			<p><button type="submit">Return to login</button></p>
		</form>
	</div>

</body>
</html>