<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Computer Webshop</title>
</head>
<body class="w3-light-grey">


	<div class="w3-center w3-white w3-margin-top" style="border: 1px solid #000000; display: block">
	
	<h1>Login Seite</h1>
		<div>
			<form action="#" th:action="@{/login}" method="post" th:object="${user}">
			
				<p>Geben Sie Ihren Username ein</p>
				<p><input type="text" id="username" name="username" placeholder="Username"></p>
				<p>Geben Sie Ihren Password ein</p>
				<p><input type="password" id="password" name="password" placeholder="Password"></p>
				
				<p th:text="${errorLogin}" style="color: red;"></p>
				<p><button class="btn-dark" type="submit">Login</button></p>
			
			</form>
		</div>
		<br />
		
		<div>
			<form action="#" th:action="@{/account}" method="get">
			
				<p><button class="btn-dark" type="submit">Account erstellen</button></p>
				
			</form>
		</div>

	</div>

</body>
</html>