
th {
  width: 100%;
}

td {
	
	width: 100%;
	
}

.dwnBut{

		font: bold 11px Arial;
  		text-decoration: none;
  		background-color: #EEEEEE;
  		color: #333333;
  		padding: 2px 6px 2px 6px;
  		border-top: 1px solid black;
 		border-right: 1px solid black;
  		border-bottom: 1px solid black;
  		border-left: 1px solid black;
	}
	