<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>User Page</title>
</head>
<body class="w3-light-grey">

	
	
	<div class="w3-center w3-white w3-margin-top" style="border: 1px solid #000000;" th:unless="${user == null}">
		<h1>Your login page</h1>
		<p th:text="${loginMessage}"></p>
		
	</div>	
		
		
	<div class="w3-center w3-white w3-margin-top" style="border: 1px solid #000000;" th:unless="${user == null}">	
		<table style="padding-left: 750px" >
			
				<tr>
					<th>Username:</th>
					<td th:text="${user.username}"></td>
				</tr>
				<tr>
					<th>Password:</th>
					<td th:text="${password}"></td>
				</tr>
				<tr>
					<th>Vorname:</th>
					<td th:text="${user.firstname}"></td>
				</tr>
				<tr>
					<th>Nachname:</th>
					<td th:text="${user.lastname}"></td>
				</tr>
				
				<tr>
					<th>Email:</th>
					<td th:text="${user.email}"></td>
				</tr>
				<tr>
					<th>Age:</th>
					<td th:text="${user.age}"></td>
				</tr>
				<tr>
					<th>Wohnort:</th>
					<td th:text="${user.wohnort}"></td>
				</tr>
				<!--  <tr>
					<th>Edit:</th>
					<td><a class="dwnBut" th:href="@{/editUser/{id}(id=${user.userid})}">Edit</a></td>
				</tr>
				<tr>
					<th>Delete:</th>
					<td><a class="dwnBut" th:href="@{/deleteUser/{id}(id=${user.userid})}">Delete</a></td>
				</tr>-->

		</table>
			

	
		<form action="#" th:action="@{/getShop/{id}(id=${user.userid})}" method="post">
		
			<p><button class="" type="submit">Go to Shop</button></p>
			
		</form>
		
		<form action="#" th:action="@{/logout}" method="get">
		
			<p><button class="" type="submit">Log out</button></p>
			
		</form>


	</div>
	

	
	
</body>
</html>