<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Cart Page</title>
</head>
<body class="w3-light-grey">

	<div class="w3-center w3-white w3-margin-top" style="border: 1px solid #000000;">
	
		<h1>Ihren Einkaufswagen</h1>
	</div>
	
	<div class="w3-center w3-white w3-margin-top" >
		
		<table style="margin-left: 600px; border: 1px solid #000000;" width="468px" >
			<tr>
				<th>Username</th>
				<td th:text="${user.username}"></td>
			
			</tr>
			<tr>
				<th>Firtsname</th>
				<td th:text="${user.firstname}"></td>
			
			</tr>
			<tr>
				<th>Lastname</th>
				<td th:text="${user.lastname}"></td>
			</tr>

			<tr>
				<th>Email</th>
				<td th:text="${user.email}"></td>
			</tr>	
		
		</table>
		
		<br />
		
		
		<table  style="margin-left: 600px; border: 1px solid black;" >
			<tr>
				<td></td>
				<td>Atikel ID:</td>
				<td>Artikel Name:</td>
				<td>Preis:</td>
				<td>Anzahl:</td>
				
			</tr>
			
			
			<tr th:each="article : ${cartList}" >
				<td></td>
				<td th:text="${article.id}"></td>
				<td th:text="${article.name}"></td>
				<td th:text="${article.price}"></td>
				<td th:text="${article.amount}"></td>
			</tr>	
				
			<tr>
				<td><br /></td>
			</tr>			
			<tr>
				<th>Gesamtbetrag</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td th:text="${total}"></td>
			</tr>
		</table>
		
		<form action="#" th:action="@{/bezahlen}" method="post">
		
			<p><button type="submit">Bezahlen</button></p>
			
		</form>
		
		<p th:text="${paymentMessage}"></p>
		<br />
		<br />
		
		<form action="#" th:action="@{/getShop/{id}(id=${user.userid})}" method="post">
		
			<p><button class="" type="submit">Go to Shop</button></p>
			
		</form>
		
		<form action="#" th:action="@{/logout}" method="get">
		
			<p><button class="" type="submit">Log out</button></p>
			
		</form>
	
	
	</div>
</body>
</html>