<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Webshop</title>
</head>
<body class="w3-light-grey">


	<div class="w3-center w3-white w3-margin-top"
		style="border: 1px solid #000000;">
		<h1>Willkommen zu unsere Webshop</h1>
		<p th:if="${user} == null" style="color:red;">Nicht eingelogged</p>

	</div>
	
	
	<div th:unless="${user} == null">
		<div class="w3-third w3-white">
			<h1>User</h1>
			
		
		<table>
			
			<tr>
				<th>ID:</th>
				<td th:text="${user.userid}" id="userid"></td>
				
			</tr>
			<tr>
				<th>Username:</th>
				<td th:text="${user.username}" id="username"></td>
			</tr>
			<tr>
				<th>Firstname:</th>
				<td th:text="${user.firstname}" id="firstname"></td>
			</tr>
			<tr>
				<th>Lastname:</th>
				<td th:text="${user.lastname}" id="lastname"></td>
			</tr>
			
			<tr>
				<th>Email:</th>
				<td th:text="${user.email}" id="email"></td>
			</tr>
			
		</table>
			
			
		
			
		<form action="#" th:action="@{/logout}" method="get">
		
			<p><button class="" type="submit">Log out</button></p>
			
		</form>
			
		
		<h1>Deinen Einkaufswagen</h1>

		<form action="#" th:action="@{/getCartItems}" th:object="${cart}"
				method="get">
				<table>
					<thead>
						<tr>
							<th>Artikelname</th>
							<th>Preise</th>
							<th>Anzahl</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="article : ${cartList}">
							<td th:text="${article.name}"></td>
							<td th:text="${article.price}"></td>
							<td th:text="${article.amount}"></td>
							<td></td>
							<td><a class="dwnBut"  th:href="@{/removeFromCart/{id}(id=${article.id})}">Entfernen</a></td>
						</tr>
						
						<tr th:unless="${cartList} == null">
						</tr>
						
						<tr th:unless="${cartList} == null">
							<td>Gesamtbetrag</td>
							<td></td>
							<td></td>
							<td th:text="${total}"></td>
						</tr>
						
					</tbody>
				</table>
				
				
			</form>
			
			<form th:unless="${cartList} == null" action="#" th:action="@{/userCart/{id}(id=${user.userid})}" method="post">
			
				<button type="submit">Bezahlen</button>	
				
			</form>
			

		</div>

		<div class="w3-twothird  w3-white w3-display-container">
			

			<figure th:each=" article : ${articleList}">


			</figure>

			<form action="#" th:action="@{/showShop}" method="post">
			
				<table th:each="article : ${articleList}" style="border: 1px solid black;" width="500px">
					<tr>
						<th>Artikelname</th>
						<td th:text="${article.name}" id="name"></td>
					</tr>

					<tr>
						<th>Beschreibung</th>
						<td th:text="${article.description}"></td>
					</tr>

					<tr>
						<th>Preis</th>
						<td th:text="${article.price}"></td>
					</tr>

					<tr>
						<td><a class="dwnBut" th:href="@{/addToCart/{id}(id=${article.id})}">Zum einkaufswagen hinzufügen</a></td>
					</tr>
					
					<tr>
						<td><br /></td>
					</tr>
					<tr>
						<td><br /></td>
					</tr>
					

				</table>
				

			</form>
		</div>
	</div>




</body>
</html>